section#sign
    section#signIn
        input(name="emailInput")
        input(name="passInput")
    section#signOut
    section#signUp
        input(name="emailInput")
        input(name="passInput")
        input(name="passConfirmInput")