#nowPlay {
    position: relative;
    min-height: 100vh;
}

#nowPlayAlbumArt {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    *background-color: rgba(255, 0, 0, 0.2);
    background-size: cover;
    background-position: center;

    z-index: -10;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all .5s;
}
#nowPlayAlbumArt:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .4);

    z-index: -10;
}

#albumArt {
    width: 400px;
    height: 400px;
    background: url("/public/images/original/technology-music-sound-things.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 50%;

    transition: all .5s;

    display: flex;
    align-items: center;
    justify-content: center;
}

#eqVisualizerCanvas {
    width: 1000px;
    height: 1000px;
}

#nowPlayControl {
    height: 128px;
    *background: linear-gradient(rgba(0, 0, 0, .0), rgba(0, 0, 0, .4));

    display: flex;
    justify-content: center;
    align-items: center;
}
#control {
    display: flex;
    justify-content: center;
    align-items: center;
}

.PP {
    position: relative;
    width: 100px;
    height: 100px;
    *background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}




#nowPlaylist {
    min-height: 100vh;
    *background-color: rgba(0, 0, 255, 0.2);

    transform: translateY(calc(100vh - 128px));
}