doctype html
html
    head
        block head
            meta(charset="utf-8")
            meta(name="viewport" content="width=device-width, height=device-height, user-scalable=no")
            title This is the OSite
            each file in cssFiles
                link(rel="stylesheet", href=file)
    body
        include article
        script(src="/public/javascripts/index.js", type="module")





