.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    *background-image: url("/public/images/original/technology-music-sound-things.jpg");
    background-size: cover;
    background-position: center;
    z-index: -10;

    transition: all .5s;
}

.background:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .4);
}