/* 전체 */

.icon-32 {
    min-width: 32px;
    min-height: 32px;
    width: 32px;
    height: 32px;
    max-width: 32px;
    max-height: 32px;
    box-sizing: border-box;

//transition: all .5s;
}
.icon-48 {
    min-width: 48px;
    min-height: 48px;
    width: 48px;
    height: 48px;
    max-width: 48px;
    max-height: 48px;
    box-sizing: border-box;

//transition: all .5s;
}
.icon-64 {
    min-width: 64px;
    min-height: 64px;
    width: 64px;
    height: 64px;
    max-width: 64px;
    max-height: 64px;
    box-sizing: border-box;

//transition: all .5s;
}
.icon-128 {
    min-width: 128px;
    min-height: 128px;
    width: 128px;
    height: 128px;
    max-width: 128px;
    max-height: 128px;
    box-sizing: border-box;

//transition: all .5s;
}
.icon-256 {
    min-width: 256px;
    min-height: 256px;
    width: 256px;
    height: 256px;
    max-width: 256px;
    max-height: 256px;
    box-sizing: border-box;

//transition: all .5s;
}
.icon-512 {
    min-width: 512px;
    min-height: 512px;
    width: 512px;
    height: 512px;
    max-width: 512px;
    max-height: 512px;
    box-sizing: border-box;

//transition: all .5s;
}