@font-face {
    font-family: NanumGothic-Regular;
    src: url("/public/fonts/NanumGothic.eot");
    src: url("/public/fonts/NanumGothic.woff") format("woff"),
    url("/public/fonts/NanumGothic-Regular.ttf") format("truetype");
}
* {
    font-family: NanumGothic-Regular, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    color: rgba(244, 244, 244, 1);
}